<%- include('header'); -%>
<!-- <body style = "background-color: rgb(236, 224, 197);"> -->
    <div class="clients"  style = "background-color: rgb(236, 224, 197);">
        <h1 style = "font-family: 'Times New Roman'; color: rgb(79, 107, 21);">Client page</h1>
        <table id="catalogue">
            <thead>
                <tr>
                    <th style = "font-family: Georgia;
                    color: #382f1ce1;
                    font-size: 25px;"> Name</th>

                </tr>
            </thead>
            <tbody>
                <% clients_list.forEach(client => { %>
                    <tr>
                        <th scope="row" style = "font-family: 'Times New Roman';
                        color: #5802028c;
                        font-size: 18px;">
                            <%= client.contact %>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <!-- </body> -->
<%- include('footer'); -%>