<%- include('header'); -%>

    <div class="clients"  style = "background-color: rgb(236, 224, 197);">
        <h1 style = "font-family: 'Times New Roman'; color: rgb(79, 107, 21);">Client page</h1>
        <table id="catalogue">
            <thead>
                <tr style = "font-family: Georgia;
                color: #382f1ce1;
                font-size: 25px;">
                    <th scope="col"> Name</th>

                    <!-- <th scope="col"> Phone</th> -->

                </tr>
            </thead>
            <tbody>
                <% clients_list.forEach(client => { %>
                    <tr style = "font-family: 'Times New Roman';
                    color: #5802028c;
                    font-size: 18px;">
                        <th scope="row" >
                            <%= client.contact %>
                        </th>
                        <!-- <th scope="row" >
                            <%= client.phone %>
                        </th> -->
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>

<%- include('footer'); -%>