<%- include('header'); -%>

 <div class="content" >
 <h1 id="welcome">Contact Us </h1>

 <h3>Name:</h3>
  HW Webstore <br><br>
 <h3>Address:</h3>
  Al Sufouh, Knowledge Village, Dubai <br><br>
 <h3>Phone no.:</h3>
  056-1234567 <br><br>
 <h3>Email:</h3>
  HWWebstore@hw.ac.uk <br><br>
 </div>

<%- include('footer'); -%>
