root {
    display: block;
}

a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #0047a5;
    text-decoration: none;
}

a:hover {
    background: #ffffff
}

a:visited {
    color: #443e389d;
}

a:active {
    color: #050504;
}

a.lien:link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #0000FF;
    text-decoration: none;
}

a.lien:hover {
    color: #FF00FF;
}

a.lien:visited {
    color: rgb(245, 245, 245);
}

a.lien:active {
    color: #3511d3;
}

.banner {
    background-color: #cc9600f1;
    height: 150px;
}

.logo {
    float: left;
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 12px;

}

.title {
    font-family:  'Lucida Grande';
    font-size: 35px;
    text-align: center;
    letter-spacing: 20px;
    vertical-align: middle;
    color: #5f1e1ed8;
}

.menu {
    background-color: #6e3a2652;
}

.message {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: orange;
    border-bottom-color: orange;
    border-left-color: orange;
    border-right-color: orange;
}

.content {
    font-family: Georgia;
    color: #382f1ce1;
    font-size: 16px;
}

#catalogue thead th {
    background-color: rgb(247, 175, 20);
    font-size: 20px;
}

#catalogue tr:nth-child(even) {
    background-color: rgb(235, 201, 173);
    font-size: 15px;
}

#catalogue tr:nth-child(odd) {
    background-color: rgb(196, 173, 142);
    font-size: 15px;
}

#foot {
    background-color: rgb(233, 232, 232);
    text-align: center;
    clear: both;
    position: relative;
    height: 20px;
    margin-top: 100px;
}

